# Ignore Python cache files
__pycache__/
*.pyc

# Ignore model files
*.pkl

# Ignore dataset files
*.csv

# Ignore PDF files
*.pdf

# Ignore EMG data folder
EMG_data/

# Ignore IDE-specific files
.vscode/